@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

:root {
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}
.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}
.text-dark {
  color: var(--dark);
}
.inline {
  display: inline-block;
}
.text-light {
  color: var(--light);
}
.text-gradient {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header nav {
  background-color: #06d6a0;
  padding: 1em 0;
  width: 100%;
}

#site-main {
  margin-top: 6em;
  font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#site-main .container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}
.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#06d6a0 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    border-color: #32383e;
}

/* add-user and update user template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio{
    margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}

.radio input[type='radio'] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #16db93;
    box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
    outline: none;
    border-color:#16db93;
}

.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_user .form-group .btn,
#add_user .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}

/* login and register form*/


/* .login-main {
  width: 100%;
  height: 100vh;
  background: black;
  padding: 15% 0; */
  /* display: flex; 
  justify-content: center; 
  align-items: center; */
/* } */
/* .login-container { */
  /* margin-bottom: 100px; */
  /* margin-top: 200px; */
  /* position: relative; */
  /* left:0; */
  /* top: 40%; */
  /* right: 37; */
  /* width: 100%; */
  /* bottom: 30%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 45px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  /* padding: 40px;s */
  /* height: 48vh;
  border-radius: 5px; */

  /* background: rebeccapurple; */
/* } */
/* .conatainer__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
} */
/* .input {
  border: none;
  outline: none;

  /* padding: 10px; */

/* .userName {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(72, 69, 69);
  padding: 7px 5px;
  max-width: 100%;
  margin: 0 auto;
  gap: 10px;
  
  color: black;
} */
/* .password {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(72, 69, 69);
  padding: 7px 5px;
  max-width: 100%;
  margin: 0 auto;
  gap: 10px; */
  /* border-radius: 3px; */
  /* color: black;
} */
/* .container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* padding: 10px; */
  /* gap: 10px;
  width: 35%;
  margin: 0 auto;
} */
/* button {
  padding: 6px;
  background: rgb(12, 12, 63);
  color: white;
  border: none;
  border-radius: 5px;
  gap: 5px;
} */
/* button {
  margin-top: 0px; */
  /* width: 100%; */
  /* min-width: 187px;
  background-color: #191f5d;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
} */
/* .container__button--content{
  display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: center; */
/* } */
/* .signUp:hover {
  color: blue;
  cursor: pointer;
} */
/* .logIn {
  position: relative;
  right: -1px; */
  /* background: rgb(12, 12, 63); */
/* } */
/* s */
/* .error{
  display: block;
}
.content{
  display: flex;
  
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
} */
/* Register styling */
/* body { */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: black;S */
/* } */

/* * {
  box-sizing: border-box;
} */

/* Add padding to containers */
/* .container { */
  /* position: relative; */
  /* top: 20%;
   */
  /* margin-top: 60PX;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
  width: 100%; */
  /* height: 100vh; */
/* } */

/* Full-width input fields */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
} */

/* input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* Overwrite default styles of hr */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for the submit button */
/* .registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

/* .registerbtn:hover {
  opacity: 1;
} */

/* Add a blue text color to links */
/* a {
  color: dodgerblue;
} */

/* Set a grey background color and center the text of the "sign in" section */
/* .signin { */
  /* background-color: #f1f1f1;s */
  /* background-color: white;
  width: 100%;
  text-align: center;
} */
